h1 {
    color: white;
    background-color: burlywood;
    text-align: left;
    font-size: '9';
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif

}
div {
    background-color:burlywood;
    width: 100vw;
}
img {
    height: 750px;
    width: 50vw;
    align-items: left;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0PX;
    background-image: url("fruit\ and\ hand\ 1.png"); 
    background-position: center; 
    background-size: cover;
    height: 250px;
    width: 100vw;
    text-align:right;
    color:white ;
    font-weight:300;
    font-size: 90px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    

}
h3 {
    width: 50vw;
    text-align:center;
    color: burlywood;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 0px;
    font-size: 45px;
}

button{
    color: white;
    font-size: 20px;
    background-color:burlywood;
    border: black;
    height: 50px;
    width: 100px;
}