h1 {
    color: pink;
    background-color: white;
    text-align: left;
    font-size: '7';
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
div {
    font-size: 12px;
}
img {
    height: 75px;
    width: 100px;
    margin-top: 20px;
}
h2 {
    background-image: url("fruit\ and\ hand\ 1.png"); 
    background-position: center; 
    background-size: cover;
    height: 250px;
    width: 700px;
}

button{
    color: pink;
    background-color: transparent;
    border: none;
    font-size: 20px;
    height: 50px;
    width: 75px;
}